.popupContainer {
    display: none; /* 초기에는 보이지 않도록 설정 */
    position: fixed; /* 화면에 고정 */
    z-index: 1; /* 다른 요소들보다 위에 위치 */
    left: 0;
    top: 0;
    width: 100%; /* 창 전체 너비 */
    height: 100%; /* 창 전체 높이 */
    overflow: auto; /* 스크롤 가능하도록 설정 */
    background-color: rgba(0,0,0,0.4); /* 배경 색상 및 투명도 설정 */
}

.popupContent {
    background-color: #fefefe; /* 팝업 내용 배경색 */
    margin: 15% auto; /* 팝업을 화면 중앙에 위치시키기 위한 마진 */
    padding: 20px; /* 내용과 테두리 사이의 간격 */
    border: 1px solid #888; /* 테두리 스타일 및 색상 */
    width: 80%; /* 팝업 너비 */
}

.close {
    color: #aaaaaa; /* 닫기 아이콘 색상 */
    float: right; /* 오른쪽에 위치 */
    font-size: 28px; /* 아이콘 크기 */
    font-weight: bold; /* 굵은 글꼴 */
}

.close:hover,
.close:focus {
    color: #000; /* 마우스를 올렸을 때의 색상 */
    text-decoration: none; /* 밑줄 제거 */
    cursor: pointer; /* 포인터 형태의 커서 */
}

.post{
    background: #C0C0C0;
    margin: auto;
    width: 500px;
    height: 500px;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}
 #post{
    background: #C0C0C0;
    margin: auto;
    width: 300px;
    height: auto;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
  }
   #pnav{
    margin: 2px 0px 0px 2px;
    background-color: #00007f;
    width: 98%;
    height: 16px;
    color: #FFFFFF;
    padding: 0px 0px 2px 2px;
  }
.pnav{
    margin: 1px 0px 0px 1px;
    background-color: #00007f;
    width: 99%;
    height: 20px;
    color: #FFFFFF;
    padding: 0px 0px 2px 2px;
}
  
.pbuttons{
    float: right;
    padding: 2px 2px 2px 0px;
}
  
.content{
    width: 97%;
    margin-top: 50%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
  #content{
    width: 97%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
  }
.noter{
    margin: 0% 1% 1% 1%;
    width: auto;
    background: #C0C0C0;
    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
 #noter{
    margin: 0% 1% 1% 1%;
    width: auto;
    background: #C0C0C0;
    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  
.notebox1{  
    /* flex-grow: 0; */
    margin: -20px 0px 0px 330px;
    width: 20px;
    height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: #000000;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 3px solid #929292;
    border-right: 3px solid #929292;
}

.notebox2{  
    flex-grow: 0;
    margin: 0px 0px 0px 330px;
    width: 20px;
    height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: #000000;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 3px solid #929292;
    border-right: 3px solid #929292;
}

.rectangle {
    flex-grow: 1;
    width: 40  0px; /* 사각형의 너비 */
    height: 300px; /* 사각형의 높이 */
    margin: 50px;
    border-top: 2px solid #929292;
    border-left: 2px solid #929292;
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}
 .notebox{  
    flex-grow: 1;
    margin: auto;
    width: auto;
    padding-left: 2px;
    padding-right: 0px;
    color: #000000;
    border-top: 1px solid #929292;
    border-left: 1px solid #929292;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
  }